/* line 1, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
a {
  color: #000;
}
/* line 23, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
a:visited {
  color: #666;
}
/* line 26, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 33, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 38, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
#notice {
  color: green;
}

/* line 42, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 48, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 55, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 65, /home/leonid/storegap/app/assets/stylesheets/scaffolds.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
/* line 4, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
dialog,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
font,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
meter,
nav,
object,
ol,
output,
p,
pre,
progress,
q,
rp,
rt,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video,
xmp {
  border: 0;
  margin: 0;
  padding: 0;
  font-size: 100%;
}

/* line 98, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
b,
strong {
  font-weight: bold;
}

/* line 102, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
img {
  color: transparent;
  font-size: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 108, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
ol,
ul {
  list-style: none;
}

/* line 112, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
li {
  display: list-item;
}

/* line 115, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 119, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
th,
td,
caption {
  font-weight: normal;
  vertical-align: top;
  text-align: left;
}

/* line 126, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
q {
  quotes: none;
}

/* line 129, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 134, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
sub,
sup,
small {
  font-size: 75%;
}

/* line 139, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 145, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
sub {
  bottom: -0.25em;
}

/* line 148, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
sup {
  top: -0.5em;
}

/* line 151, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
svg {
  overflow: hidden;
}

/* line 154, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
input:focus {
  outline: none;
}

/* line 157, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
html,
body {
  height: 100%;
}

/* line 161, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
body {
  color: #443f3d;
  background: #e3e0d7;
  font-family: tahoma;
  font-size: 12px;
  position: relative;
}

/* line 168, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready body {
  font-family: "PT Sans";
}

/* line 171, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
img {
  vertical-align: middle;
}

/* line 174, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
a {
  color: #015ba1;
  text-decoration: underline;
}

/* line 178, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
a:hover {
  text-decoration: none;
}

/* line 181, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
a img {
  border: 0;
}

/* line 184, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
pre,
code,
Menlo,
Consolas,
monospace,
hr,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #20205e;
}

/* line 199, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
h1 {
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 15px;
}

/* line 205, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
h2 {
  font-size: 26px;
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 15px;
}

/* line 211, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
h3 {
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 217, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
h4 {
  font-size: 22px;
  font-weight: normal;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* line 223, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
h5 {
  font-size: 20px;
  font-weight: normal;
}

/* line 227, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
h6 {
  font-size: 18px;
  font-weight: normal;
}

/* line 231, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
ol {
  list-style: decimal;
  padding: 0;
}

/* line 235, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
ul {
  list-style: disc;
  padding: 0;
}

/* line 239, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
li {
  margin-left: 30px;
  margin-bottom: 10px;
}

/* line 243, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
ul ul,
ol ol,
ol ul,
ul ol {
  margin: 10px 0;
}

/* line 249, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
label {
  display: block;
  margin-bottom: 5px;
  cursor: pointer;
}

/* line 254, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
hr {
  height: 2px;
  border: 0;
  border-top: 1px solid #999;
  display: block;
  margin: 25px 0;
}

/* line 261, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
td {
  vertical-align: top;
}

/* line 264, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
blockquote {
  border-left: 2px solid #a00;
  padding: 10px;
  margin-bottom: 30px;
}

/* line 269, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
blockquote p {
  text-indent: 0 !important;
  margin-bottom: 15px;
}

/* line 273, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
blockquote small {
  color: #999;
}

/* line 276, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
dl {
  margin-bottom: 30px;
}

/* line 279, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
dl dt {
  font-weight: bold;
  padding-top: 15px;
}

/* line 283, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
dl dd {
  padding-left: 15px;
}

/* line 286, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
table.table {
  width: 100%;
}

/* line 289, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
table.table th {
  font-weight: bold;
}

/* line 292, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
table.table th,
table.table td {
  border-bottom: 1px solid #999;
  padding: 10px;
}

/* line 297, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 18px;
}

/* line 315, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.table {
  display: table;
  table-layout: fixed;
  width: 100px;
}

/* line 320, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.table .row {
  display: table-row;
}

/* line 323, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.table .row .cell {
  display: table-cell;
}

/* line 326, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.clr {
  clear: both;
}

/* line 329, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}

/* line 334, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.clearfix:after {
  clear: both;
}

/**
 * For IE 6/7 only
 */
/* line 340, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.clearfix {
  *zoom: 1;
}

/* line 343, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.pull-right {
  float: right;
}

/* line 346, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
img.pull-right {
  margin: 0 0 0 15px;
}

/* line 349, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.pull-left {
  float: left;
}

/* line 352, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
img.pull-left {
  margin: 0 15px 0 0;
}

/* line 355, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.text-left {
  text-align: left;
}

/* line 358, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.text-center {
  text-align: center;
}

/* line 361, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.text-right {
  text-align: right;
}

/* line 364, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.text-justify {
  text-align: justify;
}

/* line 367, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 10px 0;
}

/* line 372, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 10px 0;
}

/* line 377, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#header {
  background: url("../images/gGLMERf-HKM.png") no-repeat 50% 0;
  height: 680px;
}

/* line 381, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#logo {
  padding: 6px 0 0 0;
  color: #db3030;
  font-size: 21px;
}

/* line 386, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#logo img {
  display: block;
  margin: 0 0 5px 0;
}

/* line 390, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#slogan {
  font-size: 40px;
  margin: 13px 0 0 -5px;
}

/* line 394, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#slogan span {
  display: block;
}

/* line 397, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#slogan .slogan-small {
  font-size: 36px;
}

/* line 400, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready #slogan {
  font-size: 60px;
  margin: 18px 0 0 -5px;
}

/* line 404, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready #slogan span {
  margin: -5px 0 0 0;
}

/* line 407, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready #slogan .slogan-small {
  font-size: 46px;
  margin: -10px 0 0 0;
}

/* line 411, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#telephone {
  color: #db3030;
  font-size: 21px;
  text-align: center;
  float: left;
  margin: 25px 0 -3px -5px;
}

/* line 418, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#telephone span {
  display: block;
}

/* line 421, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#telephone .telephone {
  font-size: 48px;
  margin: 0 0 -5px 0;
}

/* line 425, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.callback {
  font-size: 30px;
  margin: 0 0 0 -1px;
}

/* line 429, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.callback .inputtext {
  display: block;
  padding: 0 15px;
  margin: 10px 0 0 0;
  border: 0;
  border-radius: 3px;
  background: #fff;
  width: 230px;
  height: 40px;
  font-size: 18px;
  font-family: 'PT Sans';
}

/* line 441, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.callback button {
  display: block;
  padding: 0;
  margin: 8px 0 0 0;
  width: 260px;
  height: 40px;
  text-align: center;
  color: #fff;
  background: #40b8b6;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
}

/* line 454, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.callback button.success {
  background: #32d500;
  cursor: default;
}

/* line 458, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready .callback button {
  font-size: 27px;
}

/* line 461, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action {
  padding: 0;
}

/* line 464, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action .action-title {
  text-align: center;
  color: #db3030;
  font-size: 40px;
  margin: -10px 0 0 0;
  padding: 0 0 18px 0;
  background: url("../img/separator.png") no-repeat center bottom;
}

/* line 472, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action .action-title span {
  color: #d17374;
}

/* line 475, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action .action-title .strike {
  background: url("../img/strike.png") repeat-x 0 57%;
}

/* line 478, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action .action-blocks {
  padding: 10px 0 0 0;
}

/* line 481, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action .action-block {
  float: left;
  background: url("../img/chek.png") no-repeat 50% 30px;
  padding: 95px 0 0 0;
  width: 188px;
  height: 100px;
  text-align: center;
  color: #d17374;
  font-size: 30px;
  margin: -10px 0 0 0;
}

/* line 492, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action .action-block span {
  font-size: 16px;
  line-height: 16px;
  display: block;
}

/* line 497, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#action .action-block span cufon {
  margin: -5px 0;
}

/* line 500, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready #action .action-title {
  font-size: 50px;
}

/* line 503, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#gifts {
  background: url("../img/gifts.png") no-repeat center top;
  height: 363px;
  margin: 20px 0 0 0;
}

/* line 508, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#gifts .wrapper {
  position: relative;
}

/* line 511, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#gifts .gift-desc {
  position: absolute;
  text-align: center;
  width: 438px;
  padding: 15px 0 0 0;
  top: 53px;
  left: 14px;
  font-size: 25px;
}

/* line 520, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#gifts .gift-desc .prise {
  color: #db3030;
}

/* line 523, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#gifts .callback {
  position: absolute;
  right: 29px;
  top: 69px;
}

/* line 528, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#gifts .callback span {
  font-size: 28px;
}

/* line 531, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#gifts .callback .inputtext,
#gifts .callback button {
  margin-left: 10px;
}

/* line 535, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready #gifts .gift-desc {
  font-size: 30px;
}

/* line 538, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
.cufon-ready #gifts .gift-desc cufon {
  margin: -10px 0;
}

/* line 541, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#reviews {
  margin: 0 0 0 0;
}

/* line 544, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#reviews .wrapper {
  width: 1000px;
  padding: 5px 0 0 0;
}

/* line 548, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#reviews .reviews-title {
  text-align: center;
  color: #bb7273;
  font-size: 50px;
  padding: 0 0 25px 0;
}

/* line 554, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#reviews .reviews-row {
  overflow: hidden;
  padding: 0 0 55px 20px;
}

/* line 558, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#reviews .reviews-row .review {
  float: left;
  font-size: 19px;
  width: 490px;
}

/* line 563, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#reviews .reviews-row .review-name {
  font-size: 30px;
  color: #bb7273;
}

/* line 567, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#footer {
  position: relative;
}

/* line 570, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#footer .wrapper {
  padding: 0;
}

/* line 573, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#footer .footer {
  height: 420px;
  width: 916px;
  margin: -23px 0 0 -3px;
  position: relative;
  background: url("../img/footer.png") no-repeat center top;
}

/* line 580, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#footer .footer .callback {
  position: absolute;
  right: 15px;
  top: 55px;
}

/* line 585, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#footer .footer .callback span {
  display: block;
  text-align: center;
}

/* line 589, /home/leonid/storegap/app/assets/stylesheets/users.css.scss */
#footer .footer .copyright {
  position: absolute;
  right: 0;
  top: 295px;
  text-align: right;
  font-size: 20px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

<html>
  <head>
    <style>
      header, nav, main, footer {
        max-width: 1200px;
        margin: 0px auto;
      }
      @media (min-width: 1200px) { /* стиль имеет смысл, когда ширина экрана больше 1200px, к тому же не нужно придумывать решения для IE7 и ниже */ 
        .full-screen {
          width: 50vw;
          margin-left: 50%;
        }
        .full-screen > div {
          width: 100vw; /* включает в себя полосу прокрутки от body */ 
          margin-left: -100%;
        }
      }
    </style>
  </head>
