
<div id="header">
		<div class="wrapper">
			<div id="logo">
				<a href="/"><img src="img/logo.png" alt=""></a>
				<span>Flowers gap</span>
			</div>
			<div id="slogan">
				<span>Закажи</span>
<p> </p>
				<span>модный</span>
<p> </p>
<span>цветочный ободок</span>
<p> </p>			
	<span class="slogan-small">ПРЯМО СЕЙЧАС</span>
			</div>
			<div class="clr"></div>
			<div id="telephone">
				<span>Звони в любое время</span>
<p> </p>
				<span class="telephone">8 917 557 26 55 </span>
<p> </p>
				<span>или</span>
<p> </p>
			</div>
			<div class="clr"></div>
			<div class="callback">
				<%= render 'form' %>
<span>ЗАКАЖИ ОБРАТНЫЙ ЗВОНОК</span>
				
			</div>
		</div>
	</div>

