<p id="notice"><%= notice %></p>


<div id="header">
		<div class="wrapper">
			<div id="logo">
				<a href="/"><img src="img/logo.png" alt=""></a>
				<span>Flowers gap</span>
			</div>
			<div id="slogan">
				<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Tel:</strong>
  <%= @user.tel %>
</p>
			</div>
			<div id="slogan">
				<span>Спасибо</span>
<p> </p>
				<span>За заказ</span>
<p> </p>
<span>я свяжусь с Вами</span>
<p> </p>			
	
	</div>


